
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins-Regular', sans-serif !important;
}

.footer {
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
